.MuiCardMedia-img {
  object-position: 50% 0;
}

.MuiTypography-h5 {
  font-size: 1em;
  font-family: "Hiragino Kaku Gothic Pro", "BIZ UDPGothic", sans-serif;
  font-weight: bold;
}

a {
  color:#444;
}

p {
  font-size: 0.9em;
  margin: 0.3em;
}

h1 {
  margin-bottom: 0;
}