body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic Pro", "BIZ UDPGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
